OPENAI_API_KEY=sk-xxx
BILIBILI_SESSION_TOKEN=
SAVESUBS_X_AUTH_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_RATE_REDIS_REST_URL=
UPSTASH_RATE_REDIS_REST_TOKEN=
LEMON_API_KEY=
SUPABASE_HOSTNAME=xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://${SUPABASE_HOSTNAME}
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SEGMENT_WRITEKEY=
NEXT_PUBLIC_SITE_URL=
INTERNAL_API_HOSTNAME=api.example.com
