{
  "branches": ["main", "next"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "npmPublish": false,
      "tarballDir": ".next"
    }],
    ["@semantic-release/github", {
      "assets": ".next"
    }]
  ]
}
